# App
BOILER_PLATE_SERVICE_APP_NAME='Boiler Plate Service'
BOILER_PLATE_SERVICE_APP_PORT=3302

# Database
BOILER_PLATE_SERVICE_DB_HOST=db
BOILER_PLATE_SERVICE_DB_PORT=5432
BOILER_PLATE_SERVICE_DB_USERNAME=postgres
BOILER_PLATE_SERVICE_DB_PASSWORD=secret
BOILER_PLATE_SERVICE_DB_CONNECTION=postgres
BOILER_PLATE_SERVICE_DB_DATABASE=boiler_plate
BOILER_PLATE_SERVICE_DB_SCHEMA=public
