# App
PRODUCT_SERVICE_APP_NAME='Product Service'
PRODUCT_SERVICE_APP_PORT=3302

# Database
PRODUCT_SERVICE_DB_HOST=db
PRODUCT_SERVICE_DB_PORT=5432
PRODUCT_SERVICE_DB_USERNAME=postgres
PRODUCT_SERVICE_DB_PASSWORD=secret
PRODUCT_SERVICE_DB_CONNECTION=postgres
PRODUCT_SERVICE_DB_DATABASE=product
PRODUCT_SERVICE_DB_SCHEMA=public
